.form-item div.description label,
.form-item div.messages label,
.form-item legend.description,
legend.fieldset-description {
  font-weight: inherit;
}

div.messages {
  clear: left;
}

/* Remove display impact of <legend>s added by uw_a11y. */
fieldset.fieldset-invisible,
fieldset.fieldset-invisible > legend,
fieldset.fieldset-invisible:hover,
fieldset.fieldset-invisible:hover > legend {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  box-shadow: none;
}

/* Ensure <legend>s added by uw_a11y appear in vertical tabs. */
div.vertical-tabs .vertical-tabs-panes fieldset.fieldset-invisible > legend {
  display: block;
}

/* Ensure <legend>s added by uw_a11y are hidden when tabs collapsed. */
fieldset.collapsible.collapsed > legend.fieldset-description {
  display: none;
}

/* Copy styles from div.messages and div.error */
label span.messages.error,
legend span.messages.error {
  display: block;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px;
  background-image: none;
  border-color: #ed541d;
  background-color: #fef5f1;
  font-weight: normal;
}

abbr.form-required {
  border: none;
  white-space: nowrap;
}

/* Increase contrast. This fix is already in Drupal 8. */
.marker,
.form-required {
  color: #e00;
}

/* Remove color contrast checker error. */
#toolbar h2.element-invisible {
  background-color: #fff;
}
